/* Estilos del contenido principal */
/* Estilos del contenido principal */
.home {
    flex-grow: 1;
    display: flex;
    justify-content: left;
    align-items: top;
    text-align: top;
    margin-left: 40px;
    width: 100%;
  }
  
  .home p {
    color: #fff;
    margin-top: 3cm;
    margin-left: 3.5cm; /
  }
  

  .home p span{
    display: block;
  }

  .home p span:nth-child(1){
    font-size: 22px;
    font-family: 'Verdana', sans-serif;
  }

  .home p span:nth-child(2){
    font-family: 'Garamond', sans-serif;
    font-style: italic;
    font-size: 95px;
    margin-bottom: -25px; /* Ajusta el espacio entre los elementos <span> */
    margin-top: -25px;
    
  }

  .home p span:nth-child(3){
    font-size: 25px;
    margin-bottom: 190px;
  }

  .home p span:nth-child(4){
    background-color: #00000048;
    font-family: 'Garamond', sans-serif;
    font-size: 30px;
    margin-right: 200px;
  }

  .home p span:nth-child(5){
    background-color: #00000048;
    font-family: 'Verdana', sans-serif;
    font-style: italic;
    font-size: 15px;
    margin-right: 200px;
  }