/* Estilos del contenido principal */
/* Estilos del contenido principal */
.home {
    flex-grow: 1;
    display: flex;
    justify-content: left;
    align-items: top;
    text-align: top;
    font-family: 'Ysabeau Infant', sans-serif;
    margin-left: 40px;
    width: 100%;
  }
  
  .home p {
    color: #fff;
    margin-top: 6cm;
    margin-left: 3.5cm; /
  }
  

  .home p span{
    display: block;
  }

  .home p span:nth-child(1){
    font-size: 25px;
  }

  .home p span:nth-child(2){
    font-size: 85px;
    margin-bottom: -30px; /* Ajusta el espacio entre los elementos <span> */
    margin-top: -30px;
  }

  .home p span:nth-child(3){
    font-size: 25px;
  }